<div class="container">
  <div class="col-md-2">
  </div>
  <div class=" card col-md-8">
    <h4 class=" card-title">{{model.fullName}}</h4>
    <p class="card-text">
      <ul>
        <li>
            Majeur :   {{if model.ofAge "oui" "non"}}
        </li>
        <li>
          Type d'utilisateur : {{model.department}}
        </li>
        <li>
        </li>
        <li>
        </li>
      </ul>
      <!-- TODO edition du profil (si exté) -->
      <!-- <span class="description row">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!
      </span> <br/>
     <span class="row">
      <i class="col-md-6"> Fin de la vente : Mardi 16 mars
      </i>
      <span class="col-md-3 col-md-offset-1 prix ">
        34 €
      </span>
    </span> -->

    </p>
  </div>

    <!-- <a href="" onclick="confirmReservation()" class="btn reservation waves-effect waves-light" id="alert-reservation" > Commander </a> -->
  </div>

{{outlet}}
